{% extends "html/base.html" %}
{% load staticfiles %}

{% block title %}Vain BigBoard | Photos{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<h1>Photos</h1>
<div class="row photo-list">
{% for photo in photos %}
	<div class="col-xs-12 col-sm-3">
		<a href="{% url "user" photo.user.ig_id %}">
			<img class="img-responsive" src="{{ photo.url }}">
		</a>
	</div>
{% if forloop.counter|divisibleby:4 %}
</div>
<div class="row">
{% endif %}
{% endfor %}
</div>
<div class="row">
<div class="col-xs-12">
  <div class="pagination">
    <span class="step-links">
        {% if photos.has_previous %}
            <a class="btn btn-default" href="?page={{ photos.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ photos.number }} of {{ photos.paginator.num_pages }}
        </span>
        {% if photos.has_next %}
            <a class="btn btn-default" href="?page={{ photos.next_page_number }}">next</a>
        {% endif %}
    </span>
  </div>
</div>
</div>
    
{% endblock %}

{% block scripts %}

{% endblock %}