{% extends "html/base.html" %}
{% load staticfiles %}

{% block title %}Vain BigBoard | Users{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
    <h1>Users</h1>
	<div class="table-responsive">
		<table class="table table-striped table-bordered blank-table">
			<thead>
				<tr>
					<th>Instagram ID</th>
					<th>Photo Count</th>
					<th>Remove User</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
				<tr>
					<td>
						<a href="{% url "user" user.ig_id %}">
							{{ user.ig_id }}
						</a>
					</td>
					<td>
						{{ user.num_photos }}
					</td>
					<td>
						<a href="{% url "remove_user" user.ig_id %}">
							Remove
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
    	</table>
    </div>
<div class="row">
        <div class="col-xs-12">
          <div class="pagination">
            <span class="step-links">
                {% if users.has_previous %}
                    <a class="btn btn-default" href="?page={{ users.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ users.number }} of {{ users.paginator.num_pages }}
                </span>
                {% if users.has_next %}
                    <a class="btn btn-default" href="?page={{ users.next_page_number }}">next</a>
                {% endif %}
            </span>
          </div>
        </div>
      </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
</script>
{% endblock %}